include header
    div(class="container")    
        h1 ADMIN PANEL/PRODUCTS_PAGE
        div(class='admin-btns')
            a(href="/admin" class='btn btn-primary') Come_back_to_reality 
        div(class='content') 
            a(href="/admin/adminProducts/addingProducts" class='btn btn-success') Add_new_product
            a(href="/admin/adminProducts/editProducts/" class='btn btn-success') Edit_existing_product 
        include footer            