include header

div(class='container')
    h1() ADMIN PANEL
    ul
        li
            a(href='/') Перейти в магазин
        li  
            a(href='/admin/orderPage') Заказы
        li
            a(href='/admin/admin-callbacks') Заявки на ремонт
        li
            a(href='/admin/addingProducts') Товары
    
    include footer 