include header

div(class="container")    
    h1 ADMIN PANEL/PRODUCTS_PAGE/EDIT_PRODUCTS_PAGE
    div(class='admin-btns')
        a(href="/admin" class='btn btn-primary') Come_back_to_reality 
        a(class="btn btn-dark"  href="" type="reset") RESET 
    div(class='card_content container')
        div(class="row catalog_row")   
            each value, index in goods 
                div(class="col-lg-3 col-sm-6")
                    div(class="product-card")
                        div(class="product-thumb") 
                            div
                                label ID:  
                                p= value["id"]
                            div
                                img(src= value["goods_image"] class="img_admin_edit") 
                            div 
                                label MODEL
                                p= value["goods_name"] 
                            div 
                                label ARTICLE
                                p= value["goods_article"]          
                            a(href="/admin/products/edit/"+ value["id"] class='btn btn-primary') EDIT 
include footer                    