include header

div(class='container')
    h1() ADMIN PANEL
    ul
        li
            a(href='/' target='_blank') Перейти в магазин
        li  
            a(href='') Заказы
        li
            a(href='') Товары