include header

div(class="container")    
    h1 ADMIN PANEL/PRODUCTS_PAGE/ADDING_PRODUCTS_PAGE
    div(class='admin-btns')
        a(href="/admin" class='btn btn-primary') Come_back_to_reality 
        a(class="btn btn-dark"  href="" type="reset") RESET
    div(class='content')  
        h3 Add_product  
        form(class="add_form needs-validation")   
            div(class="card_holder")
                div(class='card_content')   
                    div(class='card_description') 
                        div 
                            label Add main image from cloudinary  
                            br
                            input(class="add_img_input" type="text" title="Text" name="image")
                        div 
                            label Add second image from cloudinary  
                            br
                            input(class="add_second_img" type="text" title="Text" name="image")
                        div 
                            label Add third image from cloudinary  
                            br
                            input(class="add_third_img" type="text" title="Text" name="image")        
                        div
                            label(for='item_name') Model
                            br
                            input(name='item_name' id='item_name' type="text" required)
                        div
                            label(for='item_cost') Price
                            br
                            input(name='item_cost' id='item_cost' type="number" required)
                            small &nbsp; uah
                        div
                            label(for='item_article') Article
                            br
                            input(name='item_article' id='item_article' type="text" required)
                        div
                            label(for='item_liter') Liter
                            br
                            input(name='item_liter' id='item_liter' type="number" required)    
                        div
                            label(for='item_warranty') Warranty
                            br
                            input(name='item_warranty' id='item_warranty' type="number" required)
                        div
                            label(for='item_dimensions') Dimensions
                            br
                            input(name='item_dimensions' id='item_dimensions' type="text" required)
                        div
                            label(for='item_heatingPower') HeatingPower
                            br
                            input(name='item_heatingPower' id='item_heatingPower' type="text" required)
                        div
                            label(for='item_heatingType') HeatingType
                            br
                            input(name='item_heatingType' id='item_heatingType' type="text" required)                  
            button(type="submit" class='btn btn-success') ADD PRODUCT  
    script(src="/js/addingProducts.js")

    include footer