include header

div(class='container')
    h1 ADMIN PANEL
    ul
        li
            a(href='/') Перейти в магазин
        li  
            a(href='/admin/orders') Заказы
        li
            a(href='/admin/callbacks') Заявки на ремонт
        li
            a(href='/admin/products') Товары
    
include footer 