include header
include header-nav-panel
//- div(class="popup-container")
//-     div(class="popup-wrapper")
//-         form(class='row g-3 needs-validation' novalidate onclick="closeForm()")
//-             img(src="img/serviceSvg/close.svg" class="close-popup")
//-             div(class='col-md-6')
//-                 label(for='name' class='form-label') Имя
//-                 input(type='text' class='form-control' id='name'  placeholder='Имя' required)
//-                 div(class="invalid-feedback") Пожалуйста, укажите корректно имя!
//-             div(class='col-md-6')
//-                 label(for='name' class='form-label') Фамилия
//-                 input(type='text' class='form-control' id='surname'  placeholder='Фамилия' required)
//-                 div(class="invalid-feedback") Пожалуйста, укажите корректно фамилию!      
//-             div(class="col-md-6")
//-                 label(for="phoneNumber" class="form-label") Номер телефона
//-                 input(type="tel" minlength='11' id='phoneNumber' class="form-control" placeholder='38(000)000-00-00' required)
//-                 div(class="invalid-feedback") Пожалуйста, укажите корректно номер телефона!     
//-             div(class="col-8")
//-                 button(class="btn btn-primary" type="submit") Submit form

//- div(id="#exampleModal" class="modal fade" tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
//-     div(class="modal-dialog")
//-         div(class="modal-content")
//-             div(class="modal-header")
//-                 h5(id="exampleModal" class="modal-title") New message
//-                 button(class="btn-close" type='button' data-bs-dismiss='modal' aria-label='Close')
//-             div(class="modal-body")
//-                 form
//-                     div(class="mb-3")
//-                         label(for='name' class='form-label') Имя
//-                         input(type='text' class='form-control' id='name'  placeholder='Фамилия' required)
//-                         div(class="invalid-feedback") Пожалуйста, укажите корректно ваше имя! 
//-                     div(class="mb-3")
//-                         label(for="phoneNumber" class="form-label") Номер телефона
//-                         input(type="tel" minlength='11' id='phoneNumber' class="form-control" placeholder='38(000)000-00-00' required)
//-                         div(class="invalid-feedback") Пожалуйста, укажите корректно номер телефона!            
//-             div(class="modal-footer")
//-                 button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") KK
//-                 button(type="button" class="btn btn-primary") Close