include header
//- include header-nav-panel
include navShoppingCart
section(class="catalogPage_content")
    div(class="container")
        div(class="header") 
        div(class="row catalog_row")
            each value, index in goods
                div(class="col-lg-3 col-sm-6")
                    a(href="/productPage/"+ value["id"])
                        div(class="product-card")
                            div(class="product-thumb")
                                img(src="/img/"+value["goods_image"] class="card-img-top")
                            div(class="product-details")
                                h4= value["goods_name"]
                                a(href="#")
                                p(class="product-desc")= value["goods_description"]
                            div(class="product-footer d-flex justify-content-between")
                                h3(class="product-price")= value["goods_cost"] 
                                div(class="product-links")
                                    i(class="bi bi-dash-lg remove-from-cart")
                                    div(class="product-quantity" data-id= value["id"]) 0
                                    i(class="bi bi-plus-lg add-to-cart")
                                    




    

