div(class="row title_main_catalog")
    h2 Нові товари
div(class="container product-container")
    each value, index in goods
        div(class="product-card") 
            div(class="product-img")
                img(src= value["goods_image"], alt="")
            div(class="product-detail")
                span= value["goods_name"]
                div(class="article")
                    span= value["goods_article"] 
                div(class="product-info")
                    div(class="product-price") UAH
                        span= value["goods_cost"]     
                    a(href="/catalog/product/"+ value["id"] class="product-info-btn") Більше інфи



