//- script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.min.js" integrity="sha512-JSVRnP8UFs0ieN/cvP9v4vmW1CotIaEKKN7W+4JaKNrllZolTv2aJfVGn4BFdfZ1jRZxgTAAaXWdlZbEm9iwFA==" crossorigin="anonymous" referrerpolicy="no-referrer")
script(src="js/fullpage.js")
script(src="libs/bootstrap.js")
script(src="js/callbackForm.js") 
script(src="js/main.js")
                                