div(class="contacts_title")
    h2(class="title_custom") Контакты
div(class="contacts_content")
    p По всем вопросикам
div(class="contacts_btn")
    div(class="btns") 
        button(class="callback_btn") Брякни   
div(class="contacts_social") 
    a(href="#" class="social_link" )
        img(src="./img/social/inst.png") 
    a(href="#" class="social_link" )
        img(src="./img/social/tg.png")   
div(class="contacts_social")
    p BoilerExpert! <br> Все права защищены.          

script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
//- script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
script(src="libs/bootstrap.js")
script(src="js/callbackForm.js") 
script(src="js/main.js")