footer(class="footer")
    div(class="social")
        a(href="")
            i(class="fab fa-instagram")
        a(href="")
            i(class="fab fa-telegram")    
    ul(class="nav-list")   
        li 
            a(href="/") Головна 
        li 
            a(href="#servicesPage") Послуги 
        li 
            a(href="#catalog") Каталог  
        li 
            a(href="#footer") Контакти  
    p(class="copyright") BoilerExpert! 2022                     
    
    
    script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="/libs/bootstrap.js")
    script(src="/js/callbackForm.js") 
    script(type="module" src="/js/shoppingCartFormation.js")
    script(type="module" src="/js/shoppingForm.js")
    script(type="module" src="js/sendMail.js")
    script(src="/js/main.js")