footer(class="page-footer")
    div(class="container")
        div(class="row")
            div(class="col l6 s12")
                h5(class="white-text") Footer Content
                p(class="grey-text text-lighten-4") You can use rows and columns here to organize your footer content.</p>              
            div(class="col l4 offset-l2 s12")
                h5(class="white-text") Links
                ul          
                    a(class="grey-text text-lighten-3" href="/") Link 1     
                    a(class="grey-text text-lighten-3" href="/") Link 1    
                    a(class="grey-text text-lighten-3" href="/") Link 1 
                    a(class="grey-text text-lighten-3" href="/") Link 1                          
    div(class="footer-copyright")
        div(class="container") © 2022 Copyright Text
            
script(src="https://unpkg.com/fullpage.js@4.0.9/dist/fullpage.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
script(src="js/main.js")                             