include header
header(class="header")
    div(class="container")
        div(class="header_nav")
            a(href="/" class="logo") BoilerExpert!
            nav(class="navigation") 
                ul(class="navigation_list")
                    li(class="navigation_item")
                        a(href="/" class="navigation_link active") Главная
                    li(class="navigation_item")
                        a(href="#servicesPage" class="navigation_link") Наши услуги
                    li(class="navigation_item")
                        a(href="#catalog" class="navigation_link") Каталог
                    li(class="navigation_item")
                        a(href="#footer" class="navigation_link") Контакты      