doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    //- Bootstrap Reboot 
    link(rel='stylesheet' href='libs/bootstrap-reboot.min.css')
    //- Bootstrap Grid
    link(rel='stylesheet' href='libs/bootstrap-grid.min.css')
    link(rel='stylesheet' href='libs/bootstrap.css')
    //- Materialize CSS
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //- Style
    link(rel='stylesheet' href='css/style.css') 
    //- Slider
    link(rel="stylesheet" href="https://unpkg.com/fullpage.js@4.0.9/dist/fullpage.min.css")
body  