include header
nav(id="main-nav")
    li(data-menuanchor="home" class="active")
        a(href="#home") Главная
    li(data-menuanchor="services")    
        a(href="#services") Наши услуги  
    li(data-menuanchor="excellence")    
        a(href="#excellence") Наши преимущества
    li(data-menuanchor="catalog")    
        a(href="#catalog") Наши товары  
    a(class="callback" href="") БРЯКНИ           