include header
header(class="header")
    a(href="/" class="logo") BoilerExpert!
    ul(class="navigation_list")
        li(class="navigation_item")
            a(href="/" class="navigation_link") Головна
        li(class="navigation_item")
            a(href="#servicesPage" class="navigation_link") Послуги
        li(class="navigation_item")
            a(href="#catalog" class="navigation_link") Каталог
        li(class="navigation_item")
            a(href="#footer" class="navigation_link") Контакти     