include header

include header-nav-panel
div(id="fullpage")
    div(class="section" id="main")
        div(class="main-page")
            div(class="main-content")
                div(class="page-title")
                    h1 BOILEREXPERT!       
                    h2 MY NAMES IS BETON! I'M HERE TO FIX YOUR MUTHUFUCKIN BOYLER!
                div(class="main-btns")    
                    div(class="btns")
                        a(class="buy" href='/') ПОКУПКА
                        a(class="fix" href='/') РЕМОНТ
        div(class="image-fp")
            img(src="https://boileryzapchasty.com.ua/img/content/product/742f7256139ff345e82fb11616e21a94.png")           
    include service
      

    
      