include header
include header-nav-panel 
section(class="main" id="home")   
    div(class="container main")
        div(class="main_row")
            div(class="main_content")
                h1(class="main_title") BoilerExpert! 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                div(class="btns")    
                    a(class="btn btn-danger" href="/catalogPage") Купить!
                    button(class="callback_btn") Брякни           
            div(class="main_img")
                img(class="main_title_img" src="https://res.cloudinary.com/df3brtd4v/image/upload/v1658741616/boilerexpert_imgs/photo_2022-07-25_12-28-14_edtrre.jpg" alt="Product")     
section(class="services" id="servicesPage")
    div(class="container service") 
        include services
section(class="catalog" id="catalog")
    div(class="container")
        include catalog	
section(class="footer" id="footer")
    div(class="container")
        include footer         