include header 
nav(class="navbar navbar-inverse bg-inverse fixed-top bg-faded")
    div(class="container")
        a(href="/" class="logo logo_shopping_cart") BoilerExpert!
        div(class="row")
            div(class="col")
                div(class="cart")
                    i(class="bi bi-cart2")
                        div(class="amount_cart") 0