include header 
nav(class="navbar navbar-inverse bg-inverse fixed-top bg-faded")
    div(class="container")
        a(class="logo logo_shopping_cart" href="/") BoilerExpert!
        div(class="row shopping_cart")
            a(href="/shoppingCart")        
                div(class="col")
                    div(class="cart")
                        i(class="bi bi-cart2") 
                            div(id="amount_cart" class="amount_cart") 0