include header 

nav(class="navbar-amount fixed-top")
    div(class="container")
        nav(class="navbar navbar-expand-lg")
            div(class="container-fluid")
                a(class="logo logo_shopping_cart" href="/") BoilerExpert!
                div(class="row shopping_cart")
                     div(class="col")
                        a(href="/basket")        
                            div(class="cart")
                                div(id="amount_cart" class="amount_cart")
                                i(class="fa-solid fa-cart-shopping") 
                               
                                     