div(class="filters-side")
    nav(class='filtration-nav')
        ul
            li(class='filtration-li selected' data-filter='all') All
                each value in types
                    li(class='filtration-li' data-filter= value["goods_type"])= value["goods_type"] 