

//- div(class="price-container") 
//-     table(class="table table-striped") 
//-         thead(class="thead table-primary") 
//-             tr  
//-                 th(scope="col" id="article") ARTICLE
//-                 th(scope="col" id="model") MODEL
//-                 th(scope="col" id="warranty") WARRANTY
//-                 th(scope="col" id="energy") ENERGY
//-                 th(scope="col" id="liter") LITER
//-                 th(scope="col" id="heatingElem") HEATING ELEMENT
//-                 th(scope="col" id="dimensions") DIMENSIONS
//-                 th(scope="col" id="price") PRICE 
//-         tbody   
                
                 

