div(class="section" id="services")
    div(class="service-page")
        div(class="service-content")
            div(class="service-title")
                h2 НАШИ УСЛУГИ
            div(class="container-service")  
                div(class="service-item") РЕМОНТ
                div(class="service-item") УСТАНОВКА
                div(class="service-item") ОБСЛУЖИВАНИЕ
                div(class="service-item") ПРОДАЖА
        div(class="excellence-content")
            div(class="excellence-title")
                h2 ПОЧЕМУ НАШИ КЛИЕНТЫ ДОВОЛЬНЫ? 
            div(class="container-excellence")
                div(class="excellence-item") ПОТОМУ ЧТО 
                div(class="excellence-item") ПОТОМУ ЧТО 
                div(class="excellence-item") ПОТОМУ ЧТО 
                div(class="excellence-item") ПОТОМУ ЧТО 
                div(class="excellence-item") ПОТОМУ ЧТО 
                div(class="excellence-item") ПОТОМУ ЧТО 
include catalog




