div(class="services_row")
    div(class="services_card")
        img(class="services_card_img" src="./img/serviceSvg/fix.png" alt="")
        h3(class="services_card_title") Ремонт
        p Отремонтируем ебануцца
    div(class="services_card")
        img(class="services_card_img" src="./img/serviceSvg/fix.png" alt="")
        h3(class="services_card_title") Установка
        p Установим охуенно 
    div(class="services_card")
        img(class="services_card_img" src="./img/serviceSvg/fix.png" alt="")
        h3(class="services_card_title") Поддержка
        p Звоните побеседуем
    div(class="services_card")
        img(class="services_card_img" src="./img/serviceSvg/fix.png" alt="")
        h3(class="services_card_title") Продажа
        p У нас можно купить шо хочешь                                          