.html,
body {
  background-color: #f3f3f3;
  overflow: hidden;
}

/* HEADER */

.header-top {
  width: 100%;
  height: 8vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fc51;
  z-index: 9999;
}

.menu {
  display: flex;
}

.menu a {
  padding: 10px;
}

/* MAIN */

#fullpage {
  height: 100vh;
  position: relative;
  top: 8vh;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-page {
  display: flex;
  height: 100%;
}

.main-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.page-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.main-btns {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btns .buy {
  color: #000;
  text-decoration: none;
  padding: 2vh;
  margin: 2vh;
  border-radius: 50%;
  border: 1px solid black;
}

.btns .fix {
  color: #000;
  text-decoration: none;
  padding: 2vh;
  margin: 2vh;
  border-radius: 50%;
  border: 1px solid black;
}

.image-fp {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: #819aff;
}
/* MAIN */

/* SERVICE AND EXCELLENCE */
#excellence {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.service-page {
  display: flex;
  height: 100%;
  flex-flow: wrap;
}

.service-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.service-title {
  height: 100%;
}

.container-service {
  height: 100%;
}

.excellence-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.excellence-title {
  height: 100%;
}

.container-excellence {
  height: 100%;
}

/* SERVICE AND EXCELLENCE */

#catalog {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*PARALLAX */

/* #main .fp-bg {
  background-image: url("https://images3.alphacoders.com/954/thumb-1920-954241.jpg");
  background-size: cover;
  background-position: center 80%;
}

#aboutUs .fp-bg {
  background-image: url("https://images.wallpapersden.com/image/download/purple-sunrise-4k-vaporwave_bGplZmiUmZqaraWkpJRmbmdlrWZlbWU.jpg");
  background-size: cover;
  background-position: center 80%;
} */
