@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700&display=swap");

body {
  color: #000;
  font-family: "Poppins", sans-serif;
}

.title_custom {
  font-size: 34px;
  font-weight: 600;
}

.product-links {
  display: flex;
  gap: 8;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  padding: 10px 40px;
}

.header.sticky {
  /* border: 1px solid #000; */
  background-color: #212529;
}

.header.sticky ul li a,
.header.sticky .logo {
  /* border: 1px solid #000; */
  /* background-color: #212529; */
  color: #fff;
}

/* Nav */
.header_nav {
  position: relatitve;
  transition: 0.6s;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  transition: 0.6s;
  position: relatitve;
  color: #000;
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
}

.navigation_list {
  position: relatitve;
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}

.navigation_link {
  text-decoration: none;
  color: #000;
}

/* .navigation_link.active {
  background-color: crimson;
}

.navigation_link:hover {
  background-color: crimson;
} */
/* Main Content */

.main {
  padding: 90px 0;
}
.main_row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.main_content {
  max-width: 500px;
  margin-top: 124px;
}

.main_content p {
  line-height: 2;
}

.main_title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 44px;
}

/* Services */

.services {
  padding: 90px 0;
  background-color: #212529;
  color: #fff;
}

.services_row {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

.services_card {
}

.services_card_img {
  margin-bottom: 30px;
}

.services_card_title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.services_card p {
  line-height: 2;
  text-align: center;
}

/* Catalog */

.catalog {
  background-color: #f1f1f1;
  padding: 90px 0;
}

.catalog_title {
  margin-bottom: 70px;
  text-align: center;
}

.catalog_item {
  text-align: center;
}

.item_name {
}

.item_content {
}

.item_img {
}

.item_price {
}

.item_desc {
}

/* Footer-Contacts */

.footer {
  padding: 90px 0;
  
}

/* .contacts_title {
  margin-bottom: 40px;
}

.contacts_content {
  font-size: 18px;
  margin-bottom: 40px;
}

.contacts_btn {
  margin-bottom: 80px;
}

.callback_btn {
  display: inline-block;
  padding: 7px 22px;
  background-color: #212529;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
}

.show_form {
  visibility: hidden;
}

.show {
  visibility: visible;
} */

/* Catalog Page */

.product-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.product-card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px;
}

.product-details h4 a {
  font-weight: bold;
  display: block;
}

.catalog_row {
  padding: 250px 0;
}

/* Product Page */

.product_page_detail {
  padding: 200px 0;
}

.imagery {
  flex: 1 1 60%;
  width: 60%;
  padding: 50px 100px;
  background-color: #212529;
}

.product_page_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
  animation: fadein 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.detail {
  flex: 1 1 40%;
  width: 40%;
  padding: 50px;
}

.prod_page {
  display: flex;
}

.product_page_options {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.options_wrap {
  flex: 1 1 50%;
  width: 50%;
  padding: 15px;
}

/* Nav Shoppin Cart */

.navbar {
  background-color: #212529;
  color: #fff;
}

.logo_shopping_cart {
  color: #fff;
}

.cart {
  position: relative;
  font-size: 20px;
  padding: 5px;
}

.amount_cart {
  position: absolute;
  top: -10px;
  right: -8px;
  color: red;
  padding: 3px;
}

i {
  cursor: pointer;
 
}
