@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

/* filter */
.hide {
  display: none;
}

/* RESPONSIVE =====*/

/* HEADER */

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-collapse {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 5px 12px;
    background-color: #0898e7;
    box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
  }
}

/* MAIN */

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .main-img img {
    height: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .main-content {
    margin-top: 40%;
  }
}

/* SERVICES */
@media only screen and (min-width: 359px) and (max-width: 991px),
  (max-width: 767px) {
  /* .about-image {
    margin-right: 120px;
  } */
  .about-image-box {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .services {
    padding-top: 20px;
  }
}

/* FOOTER */

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
}

/* CATALOG PAGE  */

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .product-box-row {
    display: flex;
    justify-content: center;
  }

  .filtration-nav {
    display: flex;
    justify-content: center;
    
  }
}

/* RESPONSIVE =====*/

/* STICKY HEADER */
.sticky {
  position: fixed;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1000;
  background: #fff;
}

.sticky .container {
  padding: 10px 0;
}

/* Header Navigation */

.havbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.navigation-wrap {
  position: relative;
  padding: 20px 0;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 40px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 400;
  color: #212529;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #0898e7;
}

.logo {
  position: relative;
  transition: 0.6s;
  color: #212529;
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  letter-spacing: 1px;
  background-image: url(https://e7.pngegg.com/pngimages/650/338/png-clipart-body-of-water-water-drop-bubble-fresh-water-drops-watermark-blue-cloud.png);
  background-size: 250px 150px;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: water 5s linear alternate, wave 1s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 250 bottom;
  }
}
@keyframes water {
  0% {
    background-size: 250px 0px;
  }
  100% {
    background-size: 250px 150px;
  }
}

/* MAIN CONTENT */

.main-main {
  position: relative;
  top: 0;
  height: 800px;
  background-position: bottom center;
}

.main-main .shape {
  position: absolute;
}

.shape-one {
  position: relative;
  width: 75px;
  height: 75px;
  left: 230px;
  top: 10%;
  border-radius: 50%;
  background: #637ae4;
  animation: animation-1 2s linear infinite;
}

.shape-two {
  width: 39px;
  height: 39px;
  left: 150px;
  bottom: 40px;
  border-radius: 50%;
  background: #0898e7;
  animation: animation-1 2s linear infinite;
}

.shape-three {
  width: 19px;
  height: 19px;
  left: 26px;
  bottom: 25%;
  border-radius: 50%;
  background: #70a8cb;
  animation: animation-1 2s linear infinite;
}

.shape-four {
  width: 39px;
  height: 39px;
  left: 40%;
  top: 175px;
  border-radius: 50%;
  background: #4ebaf5;
  animation: animation-1 2s linear infinite;
}

.shape-five {
  width: 19px;
  height: 19px;
  left: 50%;
  bottom: 20%;
  border-radius: 50%;
  background: #3d7dbc;
  animation: animation-1 2s linear infinite;
}

.shape-six {
  width: 14px;
  height: 14px;
  left: 45%;
  bottom: 70%;
  border-radius: 50%;
  background: #4ebaf5;
  animation: animation-1 2s linear infinite;
}

@keyframes animation-1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.main-content {
  position: relative;
}

.main-title {
  letter-spacing: 3px;
  font-size: 42px;
  color: #212529;
  font-weight: 700;
}

.main-text {
  margin-top: 30px;
  line-height: 2;
  font-weight: 500;
}

.main-content ul {
  margin-top: 30px;
}

.main-img {
  position: relative;
  padding-top: 100px;
  animation: bounceTop 3s ease infinite;
}

@keyframes bounceTop {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}

.shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(https://res.cloudinary.com/df3brtd4v/image/upload/v1660387546/boilerexpert_imgs/header-shape-1_h3pgun.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.shape-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.main-btn {
  text-align: center;
  display: inline-block;
  border: none;
  color: #212529;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 30px;
  font-size: 16px;
  width: 150px;
  margin: 10px;
  box-shadow: -2px -2px 8px rgba(212, 219, 234);
}

.main-btn:hover {
  box-shadow: inset -2px -2px 8px rgba(212, 219, 234),
    inset -2px -2px 12px rgba(169, 175, 187),
    inset 2px 2px 4px rgba(190, 197, 210), inset 2px 2px 8px rgba(190, 197, 210);
  border: none;
}

/* Services */

.services {
  padding-top: 80px;
}

.service-title {
  margin-bottom: 30px;
}

.single-feature {
  padding: 30px;
  text-align: center;
  box-shadow: 0 15px 17px 0 rgb(154 154 154 / 16%);
}

.icon {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  margin: 0 auto 30px;
  background-color: #487cff;
  color: #fff;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.icon:hover {
}

.content h3 {
  font-weight: 600;
  margin-bottom: 25px;
}

/* ABOUT SECTION */

.about-area {
  overflow: hidden;
}

.about-image img {
  max-width: 380px;
  border-radius: 16% 16% 34% 34% / 26% 26% 24% 21%;
  position: absolute;
  top: 60px;
  left: 95px;
}

.about-image {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-shape {
  border-radius: 100% 0% 100% 100%;
  position: relative;
  width: 394px;
  height: 394px;
  background-color: #0898e7;
  border-radius: 50%;
}

.about-shape::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #0898e7;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: scale(1.1) rotate(25deg);
}

.pt-70 {
  padding-top: 70px;
}

.pb-120 {
  padding-bottom: 120px;
}

.about-title {
  font-weight: 600;
  font-size: 35px;
}

.mt-50 {
  margin-top: 50px;
}

.text {
  margin-top: 20px;
}

/* CATALOG MAIN */

.pt-110 {
  padding-top: 90px;
  padding-bottom: 100px;
}

.pb-30 {
  padding-bottom: 30px;
}

.product-box {
  padding: 25px 30px 30px;
  margin: 0 0 25px 0;
  box-shadow: 0 0 11px 0 rgb(154 154 154 / 16%);
}

.image-product {
  height: 230px;
}

.img-product {
  max-width: 100%;
  max-height: 100%;
}

.product-model a {
  text-decoration: none;
  color: #212529;
}

.product-model span {
  font-size: 21px;
  font-weight: 500;
}

.article {
  padding: 5px;
  letter-spacing: 1px;
  font-size: 15px;
  color: #3d7dbc;
}

.product-price {
  font-size: 35px;
  font-weight: 600;
  margin-top: 30px;
}

.product-price span {
  line-height: 35px;
}

/* Footer-Contacts */

.footer-area {
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.social {
  margin-top: 25px;
}

.social li {
  display: inline-block;
  margin-right: 20px;
}

.social li a {
  font-size: 20px;
  color: #212529;
  transition: all 0.3s ease-out 0s;
  margin-right: 5px;
}

.footer-about .social li a:hover {
  color: #0898e7;
}

.footer-contact .contact-list li .contact-info .info-content .text a {
  color: #212529;
  transition: all 0.3s ease-out 0s;
}

.footer-contact .contact-list li .contact-info .info-content .text a:hover {
  color: #0898ef;
}

.footer-copyright .copyright {
  border-top: 2px solid #212529;
  padding-top: 10px;
  padding-bottom: 25px;
}

.footer-copyright .copyright .copyright-text .text a {
  color: #212529;
}

.text a {
  margin-left: 3px;
}

/* Filter */

.filters-side {
  padding: 100px;
}

.filtration-li {
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  padding: 10px 40px 10px 0;
  cursor: pointer;
  /* border-radius: 30%; */

  text-align: center;
}

.filtration-li:hover {
  color: #0898ef;
}

/* Catalog Page */

.product-box-row {
  margin-bottom: 20px;
}

.catalog-pagination {
  margin-bottom: 25px;
}

/* .product-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.product-card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px;
}

.product-details h4 a {
  font-weight: bold;
  display: block;
}

.catalog_row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 0;
} */

/* Product Page */

.product-container {
  margin-top: 10%;
}

.img-additional {
  display: flex;
  justify-content: space-between;
}

.img-additional img {
  cursor: pointer;
  transition: 0.5s;
}

.container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-main {
  display: flex;
  justify-content: center;
}

.img-main img {
}

.product-title-detail {
  padding-top: 70px;
}

.product-title-detail h1 {
  font-weight: 700;
  letter-spacing: 5px;
  color: #212529;
}

.product-title-detail p {
  color: #a8a8a8;
}

.product-characteristics h5 {
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 20px;
}

.product-characteristics h5 span {
  letter-spacing: 0;
}

.product-links {
  margin-top: 20px;
}

.remove-from-cart {
  padding: 15px 20px;
  background: #212529;
  color: white;
  border-radius: 0;
}

.add-to-cart {
  margin: 0 auto;
  font-size: 30px;
  position: relative;
  padding: 15px 20px;
  border-radius: 30px;
}

/* Nav Shoppin Cart */

.navbar-amount {
  background-color: #212529;
  color: #fff;
}

.cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
}

.cart:hover {
  border: 2px solid #0898ef;
}

.fa-cart-shopping {
}

.amount_cart {
  color: red;
}

i {
  cursor: pointer;
}
