@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");

body {
  /* background-color: #d4dbea; */
  color: #000;
  font-family: "Poppins", sans-serif;
}

.title_custom {
  font-size: 34px;
  font-weight: 600;
}

.product-links {
  display: flex;
  gap: 8;
}

.img_admin_edit {
  height: 200px;
  width: auto;
}

/* filter */
.hide {
  display: none;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  padding: 10px 40px;
}

.header.sticky {
  /* border: 1px solid #000; */
  background-color: #212529;
  z-index: 1;
}

.header.sticky .navigation_link {
  color: #70a8cb;
}

/* .header.sticky .logo:hover {
  color: #fff;
} */

.header.sticky .navigation_link:hover {
  border: none;
  color: #3d7dbc;
  box-shadow: 2px 20px 40px rgba(61, 125, 188),
    inset -2px -20px 40px rgba(112, 168, 203),
    inset 2px 20px 40px rgba(190, 197, 210),
    inset 0 -20 -20px rgba(48, 100, 150);
}

/* Nav */

.header_nav {
  position: relative;
  transition: 0.6s;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  transition: 0.6s;
  color: #212529;
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  letter-spacing: 1px;
  background-image: url(https://e7.pngegg.com/pngimages/650/338/png-clipart-body-of-water-water-drop-bubble-fresh-water-drops-watermark-blue-cloud.png);
  background-size: 250px 150px;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: water 5s linear alternate, wave 1s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 250 bottom;
  }
}
@keyframes water {
  0% {
    background-size: 250px 0px;
  }
  100% {
    background-size: 250px 150px;
  }
}

.logo:hover {
  color: #70a8cb;
}

.navigation_list {
  position: relatitve;
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}

.navigation_link {
  text-decoration: none;
  color: #fafbfc;
  font-weight: 700;
  padding: 2px 15px;
  border-radius: 30px;
  transition: 0.3s;
  transition-property: background;
}

.navigation_link:hover {
  border: none;
  color: #3d7dbc;
  box-shadow: 0 20px 40px rgba(112, 168, 203),
    inset -2px -20px 40px rgba(212, 219, 234),
    inset 2px 20px 40px rgba(190, 197, 210);
}

/* Main Content */

#home {
  background: linear-gradient(
    90deg,
    rgba(212, 219, 234, 50%) 50%,
    rgba(61, 125, 188, 50%) 100%
  );
  /* background: linear-gradient (50deg, rgba(212, 219, 234,) 50%, rgba(89,129,158) 50%); */
  /* width: 100vw;
  height: 100vh; */
}

.main {
  padding: 90px 0;
}

.main_title_img {
  height: 500px;
  width: auto;
}

.main_row {
  display: flex;
  justify-content: space-between;
  /* column-gap: 30px; */
}

.main_content {
  position: relative;
  max-width: 500px;
  margin-top: 124px;
}

.main_content p {
  top: 100px;
  line-height: 2;
  font-weight: 500;
}

.main_title {
  opacity: 1;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 44px;
  color: rgba(255, 255, 255, 0);
  letter-spacing: 3px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
  background-image: url(https://e7.pngegg.com/pngimages/650/338/png-clipart-body-of-water-water-drop-bubble-fresh-water-drops-watermark-blue-cloud.png);
  background-size: 250px 150px;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: water 5s linear alternate, wave 1s linear infinite;
}
@keyframes wave {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 250 bottom;
  }
}
@keyframes water {
  0% {
    background-size: 250px 0px;
  }
  100% {
    background-size: 250px 150px;
  }
}

.main_img {
}

.btns {
  /* position: relative;
  margin: auto; */
}

.main_btn {
  border: none;
  color: #3d7dbc;
  position: relative;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 30px;
  /* background: linear-gradient(90deg, #3d7dbc, #70a8cb); */
  font-size: 20px;
  width: 150px;
  margin: 10px;
  box-shadow: -2px -2px 8px rgba(212, 219, 234),
    -2px -2px 12px rgba(169, 175, 187), inset 2px 2px 4px rgba(190, 197, 210),
    2px 2px 8px rgba(190, 197, 210);
}

.main_btn:hover {
  box-shadow: inset -2px -2px 8px rgba(212, 219, 234),
    inset -2px -2px 12px rgba(169, 175, 187),
    inset 2px 2px 4px rgba(190, 197, 210), inset 2px 2px 8px rgba(190, 197, 210);
  border: none;
  color: #212529;
}

/* Services */

#servicesPage {
  background: linear-gradient(
    90deg,
    rgba(212, 219, 234, 50%) 50%,
    rgba(61, 125, 188, 50%) 100%
  );
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1100px;
}

.card_service {
  border-radius: 40px;
  width: 320px;
  margin: 20px;
  padding: 40px 30px;
  background: #d4dbea;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1), 8px 8px 20px rgba(212, 219, 234, 0.5);
}

.card_service:hover {
  /* box-shadow: inset -6px -6px 10px rgba(212, 219, 234, 0.5),
    inset 6px 6px 20px rgba(169, 175, 187, 0.05); */
  box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.imgbox {
  position: relative;
  text-align: center;
}

.card_service:hover .imgbox,
.card_service:hover .card__content {
  transform: scale(0.98);
}

.imgbox img {
  max-width: 120px;
}

.card__content {
  position: relative;
  margin-top: 20px;
  text-align: center;
  /* color: #3d7dbc; */
}

.card__content h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

.card__content p {
  font-weight: 500;
}

/* Catalog */

#catalog {
  background: linear-gradient(
    90deg,
    rgba(212, 219, 234, 50%) 50%,
    rgba(61, 125, 188, 50%) 100%
  );
}

.catalog {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-card {
  border-radius: 40px;
  width: 300px;
  height: 420px;
  position: relative;
  background: rgba(212, 219, 234);
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1);
}

.product-img {
  width: 300px;
  height: 230px;
  background-repeat: no-repeat;
  /* background-position: 0 -75px;
  background-size: cover; */
  text-align: center;
}

.product-img img {
  max-width: 100%;
  max-height: 100%;
}

.product-detail {
  width: 300px;
  height: 190px;
  background-color: #212529;
  border-radius: 0 36% 0% 0;
  padding: 0.8rem;
  color: #70a8cb;
}

.product-detail .article span {
  font-size: 0.8rem;
  color: #8f979c;
  margin-top: 15px;
}

.product-info {
  height: 65px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price span {
  font-weight: 700;
  padding: 5px;
  letter-spacing: 1px;
  font-size: 20px;
}

.product-info-btn {
  width: 120px;
  font-weight: 700;
  position: relative;
  border: none;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;

  text-align: center;
  border: 1px solid #70a8cb;
  height: 45px;
  color: #70a8cb;
  padding: 8px 9px;
}

.product-info-btn:hover {
  box-shadow: -2px -2px 8px rgba(212, 219, 234),
    -2px -2px 12px rgba(169, 175, 187), inset 2px 2px 4px rgba(190, 197, 210),
    2px 2px 8px rgba(190, 197, 210);
  color: #d4dbea;
  border: none;
}

/* Footer-Contacts */

#footer {
  background: #212529;
}

.footer {
  padding: 90px 0;
}

/* .contacts_title {
  margin-bottom: 40px;
}

.contacts_content {
  font-size: 18px;
  margin-bottom: 40px;
}

.contacts_btn {
  margin-bottom: 80px;
}

.callback_btn {
  display: inline-block;
  padding: 7px 22px;
  background-color: #212529;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
}

.show_form {
  visibility: hidden;
}

.show {
  visibility: visible;
} */

.filters-side {
  padding: 100px;
}

.filtration-li {
  display: inline-block;
  padding: 10px 40px 10px 0;
  cursor: pointer;
}

/* Catalog Page */

.product-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.product-card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px;
}

.product-details h4 a {
  font-weight: bold;
  display: block;
}

.catalog_row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 0;
}

/* Product Page */

.product-container {
  margin-top: 10%;
}

.img-additional {
  display: flex;
  justify-content: space-between;
}

.img-additional img {
  cursor: pointer;
  transition: 0.5s;
}

.container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-main {
  display: flex;
  justify-content: center;
}

.img-main img {
}

.product-title-detail {
  padding-top: 70px;
}

.product-title-detail h1 {
  font-weight: 700;
  letter-spacing: 5px;
  color: #212529;
}

.product-title-detail p {
  color: #a8a8a8;
}

.product-characteristics h5 {
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 20px;
}

.product-characteristics h5 span {
  letter-spacing: 0;
  /* font-size: 20px; */
}

.product-links {
  margin-top: 20px;
}

.remove-from-cart {
  padding: 15px 20px;
  background: #212529;
  color: white;
  border-radius: 0;
}

.add-to-cart {
  padding: 15px 20px;
  background: #212529;
  color: white;
  border-radius: 0;
}
/* .product_page_detail {
  padding: 200px 0;
}

.imagery {
  flex: 1 1 60%;
  width: 60%;
  padding: 50px 100px;
  background-color: #212529;
}

.profile-img {
  display: flex;
  
}

.product_page_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
  animation: fadein 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.detail {
  flex: 1 1 40%;
  width: 40%;
  padding: 50px;
}

.prod_page {
  display: flex;
}

.product_page_options {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.options_wrap {
  flex: 1 1 50%;
  width: 50%;
  padding: 15px;
} */

/* Nav Shoppin Cart */

.navbar {
  background-color: #212529;
  color: #fff;
}

.logo_shopping_cart {
  color: #fff;
}

.cart {
  position: relative;
  font-size: 20px;
  padding: 5px;
}

.amount_cart {
  position: absolute;
  top: -10px;
  right: -8px;
  color: red;
  padding: 3px;
}

i {
  cursor: pointer;
}
